html {
	height: 100%;
}
body {
	margin: 0;
	background-color: #fff;
	height: 100%;
}

li {
	list-style: none;
	text-decoration: none;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
nav {
	display: flex;
	justify-content: space-between;
	font-family: 'Roboto', sans-serif;
	font-weight: normal;
	font-size: 14px;
	color: #222;
}

.left-side > ul {
	display: flex;
	margin: 5px;
	padding-left: 5px;
}
.left-content > li {
	padding: 10px;
	margin: 0;
}
.right-side > ul {
	display: flex;
	margin: 5px;
	padding-left: 5px;
}

.right-content > li {
	padding: 10px;
}

.search {
	display: flex;
	position: relative;
	top: 40%;
	left: 50%;
	margin-top: -50px;
	margin-left: -270px;
	padding: 5px 8px 0 16px;
	border: 1px solid #dfe1e5;
	border-radius: 24px;
	box-shadow: none;
	max-width: 520px;
	z-index: 3;
	height: 40px;
	align-items: center;
}

.search-box {
	display: flex;
	flex: 100%;
	margin: 0;
	height: 34px;
	width: 100%;
	width: 450px;
	border: none;
	outline: none;
	padding: 0;
	font-size: 16px;
}

.search-icon {
	height: 20px;
	width: 20px;
	padding: 8px 10px 5px 5px;
	margin-right: 15px;
	margin-bottom: 10px;
}

.google-image > img {
	display: block;
	margin: 0 auto;
	padding: 20px;
	margin-top: 125px;
}

.google-btns {
	display: block;
	margin: 0 auto;
	height: 200px;
	text-align: center;
}

.google-btns > button {
	display: inline-block;
	text-align: center;
	margin: 0 auto;
	margin-top: 0px;
	color: #5f6368;
	background-color: #f2f2f2;
	border: 1px solid #f2f2f2;
	cursor: pointer;
	padding: 0 16px;
	height: 36px;
	min-width: 54px;
	border-radius: 4px;
	font-family: arial, sans-serif;
}

.feeling-lucky {
	margin-left: 10px;
}

.google-btns > button:hover {
	color: #222;
	box-shadow: 0 1px 1px rgb(0 0 0/10%);
	border: 1px solid #c6c6c6;
	background-image: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
	background-color: #f8f8f8;
}

.sign-in {
	height: 30px;
	width: 69px;
	color: white;
	font-weight: bold;
	background-color: #4285f4;
	border-color: #4285f4;
	border: 1px solid #4285f4;
	border-radius: 2px;
	cursor: pointer;
}

.google-search {
	margin: 0 auto;
	height: 125px;
}

.about {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	white-space: nowrap;
	margin: 0 auto;
	margin-top: 165px;
	line-height: 40px;
	background-color: #f2f2f2;
	border-top: 1px solid #e4e4e4;
	color: #5f6368;
}

footer > ul {
	display: inline-flex;
	position: relative;
	margin-top: 10px;
	font-family: Roboto;
	font-size: 14px;
	color: #70757a;
}

.left-side > li {
	margin-right: 30px;
}

footer > .right-side {
	float: right;
}

.right-side > li {
	margin-left: 15px;
	margin-right: 15px;
}

footer > a:hover {
	text-decoration: underline;
}
